
/* GLOBAL CSS */
body{
    background-color: #FAFAFA;
    font-size: 16px;
    padding-top: calc(80px+60px);
    font-family: 'Montserrat';
}
main{
    animation: .7s popIn linear;
}
@keyframes popIn{
    from{
        transform: translateY(12px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
}
.u-fat-text{
    font-weight: 600;
}

/* NAVIGATION */

.navigation{
    background-color:white;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    border-bottom:1px solid rgba(0,0,0,.0975);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 50px;
    box-sizing: border-box;
    z-index:2;
}

.navigation__search-container{
    position: relative;
}

.navigation__search-container input{
    background-color: #FAFAFA;
    padding:3px 20px;
    padding-left: 25px;
    height: 30px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,.0975);
    border-radius: 3px;
    font-size: 14px;
}

.navigation__search-container i{
    position: absolute;
    top:10px;
    left:10px;
    font-size: 11px;
    color:rgba(0,0,0,0.5);
}

.navigation__search-container input:focus{
    outline: none;
}

.navigation__search-container input::placeholder{
    text-align: center;
}

.navigation__link{
    margin-left: 30px;
    color:rgba(0,0,0,.5);
    text-decoration: none;
    font-size:22px;
}


/* SA FOOTER NI*/

.footer{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    text-align: right;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
}

.footer_copyright{
    color:#999;
}

/* SA LOG IN NI DIRI*/
.no-padding{
    padding:0;
}

.login{
    width: 73%;
    margin:0 auto;
    margin-top: 80px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_column{
    width:50%;
}

.login_column:last-child{
    margin-left: 30px;
}

.login_section{
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 2px;
    margin-bottom: 10px;
}
.login_sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 40px;
}

.login_logo{
    margin-top: 30px;
}

.login_form{
    margin-top: 10px;
    width: 100%;
}

.login_input{
    height: 35px;
    width: 100%;
    border:1px solid rgba(0,0,0,.0975);
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.login_input:first-child{
    margin-bottom: 10px;
}

.login_input--btn{
    border:0;
    color:white;
    font-weight: 600;
    background-color: #004c5f;
}

.login_input--btn:hover{
    background-color: rgba(0, 76, 95, 0.85);
}

.login_input-container{
    position: relative;
}

.login_form-link{
    position: absolute;
    top:10px;
    right:10px;
    color:#004c5f;
}

.login_divider{
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase; 
    font-weight: 600;
    color:#999;
    position: relative;
    width: 100%;
    text-align: center;
}

.login_divider:after{
    content:'';
    width: 40%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top:5px;
    right:0;
}

.login_divider:before{
    content:'';
    width: 40%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top:5px;
    left:0;
}

.login_sign-up{
    padding:30px 0;
    text-align: center;
}

.login_sign-up a{
    color:#004c5f;
}

/* RESPONSIVENESS NIS WEBSITE*/

@media only screen
    and (min-width: 320px)
    and (max-width: 650px){
        /* Globals */
        body{
            font-size: 14px;
            
        }
        /* Navigation */
        .navigation{
            padding:0 10px;
        }
        .navigation__search-container{
            display: none;
        }
        .navigation__icons{
            display: flex;
        }
        /* Photo */
        .photo{
            width:100%;
            border:none;
            margin-bottom: 20px;
        }
        .photo,
        .photo *{
            background-color: transparent;
        }
        .photo__time-ago{
            border:none;
        }
        .photo__add-comment-container{
            display: none;
        }
        /* Explore */ 
        .people{
            width: 100%;
            border:none;
        }
        .people__person{
            border-bottom:0;
        }
        /* Login */
        .login{
            width: 100%;
            margin-top: 0;
        }
        .login_column{
            width: 100%;
        }
        .login_column:first-child{
            display: none;
        }
        .login_column:last-child{
            margin-left:0
        }
        .login_section{
            background-color: transparent;
            border:none;
        }
        /* Profile */
        .profile{
            margin-top: 20px;
            width: 100%;
        }
        .profile__header{
            margin-bottom: 0;
        }
        .profile__name{
            flex-wrap: wrap;
            order:1;
        }
        .profile__avatar{
            width:77px;
            height: 77px;
        }
        .profile__title{
            font-size: 22px;
        }
        .profile__button{
            order:3;
            margin-top: 10px;
            width: 100%;
            text-align: center;
        }
        .profile__info{
            display: flex;
            flex-direction: column;
        }
        .profile__bio{
            order:2;
        }
        .profile__numbers{
            order:3;
            margin-top: 30px;
        }
        .profile__numbers li{
            font-size: 14px;
            text-align: center;
            color:#999;
        }
        .profile__number{
            color:black;
            margin-bottom: 5px;
            display: inline-block;
        }
        .profile__picture{
            width: 33%;
        }
        .profile-picture__overlay{
            display: none;
        }
    }


/* Navigation ni tangna*/
    .h7 {
        font-size: 0.8rem;
    }

    .gedf-wrapper {
        margin-top: 6rem;
    }

    @media (min-width: 992px) {
        .gedf-main {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        .gedf-card {
            margin-bottom: 2.77rem;
        }
    }

    /**Reset Bootstrap*/
    .dropdown-toggle::after {
        content: none;
        display: none;
    }






    ._8esl{
        width:548px
    }
  /*._8esl{
        width:580px
    }*/

    ._8esl{
        display:inline-block;
        margin-right:15.999px;
        vertical-align:top;
        width:565px
    }